<!DOCTYPE html>
<html>
  
<head>
  <%= stylesheet_link_tag "application"%>
  <%= javascript_include_tag "application" %>
</head>
 

 <body>
  <!-- Header and Nav -->
    <div class='contain-to-grid'>
      <nav class='top-bar' data-topbar data-options='is_hover: false'>
        <ul class='title-area'>
          <li class='name'>
            <h1><a href='#'>Blocipedia</a></h1>
          </li>
          <li class='toggle-topbar menu-icon'><a href='#'>About</a>
          </li>
        </ul>


        <section class='top-bar-section'>
          <ul class='right'>
            <li class='has-form'>
              <a href='#'>Sign In</a>
            </li>
          </ul>

          <ul class='left'>
            <li><a href='#'>Left Nav Button</a></li>
          </ul>
        </section>
      </nav>
    </div> 

<!-- End Header and Nav -->

  
  <div class="row">
    <div class="large-3 columns">
      <h1><img src="http://placehold.it/400x100" /></h1>
      <ul class="side-nav">
          <li><a href="#">Section 1</a></li>
          <li><a href="#">Section 2</a></li>
          <li><a href="#">Section 3</a></li>
          <li><a href="#">Section 4</a></li>
          <li><a href="#">Section 5</a></li>
          <li><a href="#">Section 6</a></li>
        </ul>
    </div>
    <div class="large-9 columns">
      <%= render partial: 'layouts/flashnotice' %>      
      <%= yield %>
    </div>
  </div>
  
  



  </body>

 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright Blocipedia 2014</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
          </ul>
        </div>
      </div>
    </div> 
  </footer>

</html>
